<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Restaurant Apps Starter Project</title>
</head>

<body>
    <header>
        <nav class="d-flex h-100 w-100 ls-bg-mustard justify-content-between">
            <div class="navbar-logo"><img src="./images/logo/logo.svg" /></div>
            <div class="navbar-menu justify-content-end">
                <ul class="d-flex menu-list justify-content-evenly vw-40 h-100 align-items-center ls-title-2">
                    <li class="menu-item">Home</li>
                    <li class="menu-item">Favorite</li>
                    <li class="menu-item">About Us</li>
                </ul>
                <div class="navbar-menu-collapse h-100 w-100 d-flex flex-column justify-content-center">
                    <div class="menu-collapse__item combine"></div>
                    <div class="menu-collapse__item combine"></div>
                    <div class="menu-collapse__item combine"></div>
                    <div class="menu-collapse__item combine"></div>
                </div>
            </div>
        </nav>
        <!-- <div class="carousel">
            <img src="./images/heros/hero-image_1.jpg" id="carousel" alt="" class="carousel-item">
        </div> -->
    </header>
    <main>
        <section class=""></section>
        <section class=""></section>
        <section class=""></section>
        <section class=""></section>
    </main>
    <footer>

    </footer>
    <h1>Restaurant Apps Starter Project</h1>
    <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
    <p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen
    </p>



    <div id="carousel" class="carousel">
        <img src="./images/heros/hero-image_1.jpg" width="450" alt="">
        <img src="./images/heros/hero-image_2.jpg" width="450" alt="">
        <img src="./images/heros/hero-image_3.jpg" width="450" alt="">
        <img src="./images/heros/hero-image_4.jpg" width="450" alt="">
    </div>

</body>

</html>