img {
    display: block;
}

.wrap {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.wrap > img {
    position: absolute;
    top: 0;
    left: 0;
}

.wrap > img:nth-child(2) {
    top: 200px;
}
.wrap > img:nth-child(2).active {
    top: 0;
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1) .5s;
}