@import './color.scss';
@import './container.scss';
@import './font.scss';
@import './utilities.scss';
@import './navbar.scss';

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    