$display:(
 block,
 flex,
 inline-block,
 unset,
 grid,
 inline
);

@each $name in $display { 
  .d-#{$name} {
    display: $name;
  }
}

$position:(
  absolute,
  relative,
  fixed,
  static,
  sticky
);

@each $name in $position { 
  .pos-#{$name} {
    position: $name;
  }
}

$flex-direction:(
  row,
  row-reverse,
  column,
  column-reverse
);

@each $name in $flex-direction { 
  .flex-#{$name} {
    flex-direction: $name;
  }
}

$justify-content:(
  flex-start,flex-end,center,space-between,space-around,space-evenly
);

@each $name in $justify-content { 
  .justify-content-#{$name} {
    justify-content: $name;
  }
}

$align-items:(
  flex-start,flex-end,center,baseline,stretch
);

@each $name in $align-items { 
  .flex-#{$name} {
    flex-direction: $name;
  }
}