@function str-split($string, $separator) {
  // empty array/list
  $split-arr: ();
  // first index of separator in string
  $index : str-index($string, $separator);
  // loop through string
  @while $index != null {
      // get the substring from the first character to the separator
      $item: str-slice($string, 1, $index - 1);
      // push item to array
      $split-arr: append($split-arr, $item);
      // remove item and separator from string
      $string: str-slice($string, $index + 1);
      // find new index of separator
      $index : str-index($string, $separator);
  }
  // add the remaining string to list (the last item)
  $split-arr: append($split-arr, $string);

  @return $split-arr;
}

$display:(
 block,
 flex,
 inline-block,
 unset,
 grid,
 inline
);

@each $name in $display { 
  .d-#{$name} {
    display: $name;
  }
}

$position:(
  absolute,
  relative,
  fixed,
  static,
  sticky
);

@each $name in $position { 
  .pos-#{$name} {
    position: $name;
  }
}

$flex-direction:(
  row,
  row-reverse,
  column,
  column-reverse
);

@each $name in $flex-direction { 
  .flex-#{$name} {
    flex-direction: $name;
  }
}

$justify-content:(
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: space-evenly,
  stretch: stretch
);

@each $name,$item in $justify-content { 
  .justify-content-#{$name} {
    justify-content: $item;
  }
  .align-items-#{$name} {
    align-items: $item;
  }
}

$align-items:(
  flex-start,flex-end,center,baseline,stretch
);

@each $name in $align-items { 
  .flex-#{$name} {
    flex-direction: $name;
  }
}